

.navbar {
    width: 100%;
    height: 70px;
    background-color: #F3E2C6; /* change to your theme */
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    padding: 0 50px; /* space on sides */
    /* position: fixed; optional: makes navbar sticky */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-logo span {
    font-size: 30px;
    font-weight: 300;
    color: #CA5331; 
    font-family: Monoton;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    transition: color 0.3s ease;
    font-family: Montserrat;
}

.navbar-links li a:hover {
    color: #CA5331; 
}
